@model Assig1.Models.Expiation

<h2>Expiation Detail</h2>

<div>
    <p>Expiation ID: @Model.ExpId</p>
    <p>Total Fee: @Model.TotalFeeAmt</p>
    <p>Time: @Model.IncidentStartTime</p>
    <p>Date: @Model.IncidentStartDate</p>
    <p>Speed: @Model.VehicleSpeed</p>
    <p>LSA Code: @Model.LsaCode</p>
</div>