@model Assig1.ViewModels.Expiation_ExpiationDetail

<h2>Expiation Detail for: @Model.Expiation.ExpId</h2>

<div>
    <p>@Html.DisplayNameFor(m => m.DriverStateCount): @Model.DriverStateCount</p>
    <p>@Html.DisplayNameFor(m => m.LsaCount): @Model.LsaCount</p>
    <p>@Html.DisplayNameFor(m => m.SpeedPercentile): @Html.DisplayFor(m => m.SpeedPercentile)</p>
    <p>@Html.DisplayNameFor(m => m.BacPercentile): @Html.DisplayFor(m => m.BacPercentile)</p>
    <p>Expiation ID: @Model.Expiation.ExpId</p>
    <p>Total Fee: $@Model.Expiation.TotalFeeAmt</p>
    <p>Time: @Model.Expiation.IncidentStartTime</p>
    <p>Date: @Model.Expiation.IncidentStartDate</p>
    <p>Speed: @Model.Expiation.VehicleSpeed km/h</p>
    <p>LSA Code: @Model.Expiation.LsaCode</p>
    <p>State: @Model.Expiation.DriverState</p>
</div>