@model Assig1.ViewModels.Expiation_ExpiationDetail

<div class="container mt-4">
    <h2 class="text-center">Expiation Detail for ID: @Model.Expiation.ExpId</h2>

    <div class="card">
        <div class="card-header">
            <h5>Expiation Information</h5>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>@Html.DisplayNameFor(m => m.DriverStateCount):</strong> @Model.DriverStateCount
                </li>
                <li class="list-group-item">
                    <strong>@Html.DisplayNameFor(m => m.LsaCount):</strong> @Model.LsaCount
                </li>
                <li class="list-group-item">
                    <strong>@Html.DisplayNameFor(m => m.SpeedPercentile):</strong> @Html.DisplayFor(m => m.SpeedPercentile)
                </li>
                <li class="list-group-item">
                    <strong>@Html.DisplayNameFor(m => m.BacPercentile):</strong> @Html.DisplayFor(m => m.BacPercentile)
                </li>
                <li class="list-group-item">
                    <strong>Expiation ID:</strong> @Model.Expiation.ExpId
                </li>
                <li class="list-group-item">
                    <strong>Total Fee:</strong> $@Model.Expiation.TotalFeeAmt
                </li>
                <li class="list-group-item">
                    <strong>Time:</strong> @Model.Expiation.IncidentStartTime
                </li>
                <li class="list-group-item">
                    <strong>Date:</strong> @Model.Expiation.IncidentStartDate
                </li>
                <li class="list-group-item">
                    <strong>Speed:</strong> @Model.Expiation.VehicleSpeed km/h
                </li>
                <li class="list-group-item">
                    <strong>LSA Code:</strong> @Model.Expiation.LsaCode
                </li>
                <li class="list-group-item">
                    <strong>State:</strong> @Model.Expiation.DriverState
                </li>
            </ul>
        </div>
    </div>
</div>