@model Assig1.ViewModels.ExpiationsSearchViewModel

<div class="text-dark bg-gradient bg-warning p-2 my-2 border rounded">
    <h2>Expiations Index</h2>
</div>

<form method="get" asp-action="Index" asp-controller="Expiations">
    <div class="form-group">
        <label for="searchText">Search by LSA Code: </label>
        <input type="text" id="searchText" name="searchText" class="form-control" placeholder="Search LSA Codes..." />
    </div>
    <div class="form-group">
        <label for="offenceCode">Search by Offence Code: </label>
        <input type="text" id="offenceCode" name="offenceCode" class="form-control" placeholder="Search Offence Codes..."/>
    </div>
    <button type="submit">Search</button>
</form>

<h3>Expiations</h3>
@if(Model.TotalExpiations > 0)
{
    <h3>Statistics</h3>
    <ul>
        <li>Total Expiations : @Model.TotalExpiations</li>
        <li>Max Speed : @Model.MaxSpeed km/h</li>
        <li>Average Speed : @Model.AverageSpeed km/h</li>
        <li>Max BAC : @Model.MaxBAC</li>
        <li>Max Fine : $@Model.MaxFine</li>
        <li>Average Fine : $@Model.AverageFine</li>
    </ul>
    
    <h3>Number of records: @Model.Expiations.Count()</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Expiation ID</th>
                <th>Total Fee</th>
                <th>Incident Time</th>
                <th>Incident Date</th>
                <th>Vehicle Speed</th>
                <th>LSA Code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expiation in Model.Expiations)
            {
                <tr>
                    <td>@expiation.ExpId</td>
                    <td>$@expiation.TotalFeeAmt</td>
                    <td>@expiation.IncidentStartTime</td>
                    <td>@expiation.IncidentStartDate</td>
                    <td>@expiation.VehicleSpeed km/h</td>
                    <td>@expiation.LsaCode</td>
                    <td>
                        <a href="@Url.Action("Detail", "Expiations", new { id = expiation.ExpId })">Data Breakdown</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Search for an offence!</p>
}