@model IEnumerable<Assig1.ViewModels.DataBreakdownViewModel>

<h2>Data Breakdown</h2>

<form method="get">
    <input type="hidden" name="speedCode" value="@ViewContext.HttpContext.Request.Query["speedCode"]" />
    <label for="sortBy">Sort By: </label>
    <select name="sortBy" id="sortBy">
        <option value="OffenceCount">Offence Occurence</option>
        <option value="AverageFeeAmt">Average Fee Amount</option>
    </select>
    <button type="submit">Sort</button>
</form>

@if(Model != null && Model.Any())
{
    <table class="table">
    <thead>
        <tr>
            <th>Offence Code</th>
            <th>Description</th>
            <th>Speed Description</th>
            <th>Average Fee Amount</th>
            <th>Offence Occurence</th>
        </tr>
    </thead>
    <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>@item.OffenceCode</td>
                <td>@item.Description</td>
                <td>@item.SpeedDescription</td>
                <td>@item.AverageFeeAmt?.ToString("F2")</td>
                <td>@item.OffenceCount</td>
            </tr>
                <a href="@Url.Action("DataDetails", "Speeding", new { offenceCode = item.OffenceCode })">View Further Details</a>
            }
        </tbody>
    </table>
}
else {
    <p>No data available for the selected speed type.</p>
}
