@model Assig1.ViewModels.Data_DataDetail

<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Offence Code: @Model.OffenceCode</h5>
                <p class="card-text">Description: @Model.Description</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Total Expiations</h5>
                <p class="card-text">@Model.TotalExpiations</p>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Expiation ID</th>
            <th>Total Fee Amount</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expiation in Model.Expiations){
            <tr>
                <td>@expiation.ExpId</td>
                <td>@expiation.TotalFeeAmt</td>
                <td>@expiation.IncidentStartDate</td>
                <td>@expiation.IncidentStartTime</td>
            </tr>
        }
    </tbody>
</table>