@model Assig1.ViewModels.Data_DataDetail

<h2>Details for Offence Code: @Model.OffenceCode</h2>
<p>Description: @Model.Description</p>

<h3>Expiations</h3>
<table class="table">
    <thead>
        <tr>
            <th>Expiation ID</th>
            <th>Total Fee Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expiation in Model.Expiations){
            <tr>
                <td>@expiation.ExpId</td>
                <td>@expiation.TotalFeeAmt</td>
                <td>@expiation.IncidentStartDate</td>
            </tr>
        }
    </tbody>
</table>