@model Assig1.ViewModels.Speeding_SpeedingDetail

<div class="container mt-4">
    <h1>@Model.Description</h1>
    <dt class="col-sm-2">Offence Code</dt>
    <dd class="col-sm-10">@Model.OffenceCode</dd>

    <dt class="col-sm-2">Expiation Fee</dt>
    <dd class="col-sm-10">@Model.ExpiationFee</dd>

    <dt class="col-sm-2">Demerit Points</dt>
    <dd class="col-sm-10">@Model.DemeritPoints</dd>

    <dt class="col-sm-2">Total Offences</dt>
    <dd class="col-sm-10">@Model.TotalOffences</dd>

    <dt class="col-sm-2">Average Demerit Points For This Category</dt>
    <dd class="col-sm-10">@Model.AverageDemeritPoints</dd>

    <dt class="col-sm-2">Average Fee Paid For This Category</dt>
    <dd class="col-sm-10">@Model.AverageFeePaid</dd>

    <dt class="col-sm-2">Highest Fee Paid For This Category</dt>
    <dd class="col-sm-10">@Model.HighestFeePaid</dd>
</div>