@model Assig1.ViewModels.SpeedingCategoriesSearchViewModel

<div class="text-dark bg-gradient bg-warning p-2 my-2 border rounded">
    <h2>Expiations Categories Index</h2>
</div>

<form asp-controller="Speeding" asp-action="Index" method="get">
    <div action="form-group">
        <label for="SearchText">Search:</label>
        <input asp-for="SearchText" class="form-control" placeholder="Enter offence description" />
    </div>

    <div class="form-group mt-2">
        <label asp-for="SpeedCode">Category:</label>
        <select asp-for="SpeedCode" asp-items="Model.SpeedingCategories.Select(c => new SelectListItem { Value = c.SpeedCode, Text = c.SpeedDescription })" class="form-control">
            <option value="">All categories</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>

<h3>Offence</h3>
@if (Model.Offences != null && Model.Offences.Any())
{
    @foreach(var category in Model.SpeedingCategories)
    {
        <li>
            @category.SpeedDescription - @category.SpeedCode
            <a href="@Url.Action("DataBreakdown", "Speeding", new { speedCode = category.SpeedCode })">Data Breakdown</a>
        </li>
    }

    <h3>Number of records: @Model.Offences.Count()</h3>
    <ul>
        @foreach (var offence in Model.Offences)
        {
            <li>
                @offence.Description - @offence.OffenceCode
                <a href="@Url.Action("Details", "Speeding", new { offenceCode = offence.OffenceCode })">View Details</a>
            </li>
        }
    </ul>
}
else
{
    <p>No offences found.</p>
}