@model Assig1.ViewModels.Speeding_SpeedingDetail

<div class="container mt-4">
    <h1>@Model.Description</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(m => m.OffenceCode)</h5>
                    <p class="card-text">@Html.DisplayFor(m => m.OffenceCode)</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(m => m.ExpiationFee)</h5>
                    <p class="card-text">@Model.ExpiationFee</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(m => m.DemeritPoints)</h5>
                    <p class="card-text">@Model.DemeritPoints</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(m => m.TotalOffences)</h5>
                    <p class="card-text">@Model.TotalOffences</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(m => m.AverageDemeritPoints)</h5>
                    <p class="card-text">@Html.DisplayFor(m => m.AverageDemeritPoints)</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(m => m.AverageFeePaid)</h5>
                    <p class="card-text">@Html.DisplayFor(m => m.AverageFeePaid)</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(m => m.HighestFeePaid)</h5>
                    <p class="card-text">@Html.DisplayFor(m => m.HighestFeePaid)</p>
                </div>
            </div>
        </div>
    </div>
</div>